

<div class="bg-dark relative flex min-h-screen flex-col justify-center overflow-hidden bg-gray-50 py-6 sm:py-12">
<h1>Please log in</h1> 
<hr>
<h2>You must be logged in to view content</h2>

<button>Sign in</button>
<button>Sign up</button>
<hr>
<button>Return</button>
</div>