{{! GRADIENT BACKGROUND }}
<div class="relative isolate px-6 pt-14 lg:px-8">
  <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
    <div
      class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#a8e370] to-[#6dcd85] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
      style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
    </div>
    {{! LOGO }}
  </div>
  <div class="flex max-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <a href="/"><img src="../assets/logo.svg" class="mx-auto h-10 w-auto"></a>
      <h2 class="mt-10 text-center text-5xl font-bold leading-9 tracking-tight text-gray-900">Welcome Back
      </h2>

      <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900"> <i
          class="fa-solid fa-users" style="color: #1c4997;"></i>
        Employee Login
      </h2>
      <p class="mt-1 text-sm leading-6 text-gray-600 text-center"> Please login to your account.
      </p>

    </div>
    <div class="flex min-h-full flex-col justify-center px-6 py-2 lg:px-8">
      <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">

        {{! Employee Login Form }}
        <div
          class="block rounded-lg bg-white p-6 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700">
          <form class="login-form space-y-6" action="#" method="POST">
            <div>
              <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Username</label>
              <div class="mt-2">
                <input id="employee-login" name="employee-login" type="employee-login" autocomplete="employee-login"
                  required
                  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
              </div>
            </div>

            <div>
              <div class="flex items-center justify-between">
                <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
                <div class="text-sm">
                </div>
              </div>
              <div class="mt-2">
                <input id="password-login" name="password-login" type="password" autocomplete="current-password"
                  required
                  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
              </div>
            </div>

            <div>
              <button id="signIn" type="submit"
                class="flex w-full justify-center rounded-md bg-green-400 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-green-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Sign
                In</button>
            </div>
          </form>

          <div class="sm:mx-auto sm:w-full sm:max-w-sm border-t-2 text-center">
            <a href="/company/login" class="no-underline border-b border-grey-dark text-grey-dark">
              Sign In as Company Admin</a>
          </div>

        </div>
      </div>
    </div>
  </div>
  <script src="/js/employee-login.js"></script>