
<div
  class="bg-dark relative flex min-h-screen flex-col justify-center overflow-hidden bg-gray-50 py-6 sm:py-12"
>
  <div
    class="h-90 relative dark:bg-neutral-400 px-8 py-6 pb-8 shadow-xl ring-1 ring-gray-900/5 sm:mx-auto sm:max-w-lg sm:rounded-lg sm:px-10"
  >
    <div class="mx-auto max-w-md">
      <h1 class="font-bold text-center text-lg dark:text-black">
        Please log in
      </h1>

      <hr class="h-px my-9 bg-black-200 border-3 dark:bg-black-700" />

      <div class="space-y-6 py-8 text-base leading-9 text-gray-900">
        <p>You must be logged in to view content...</p>
        <ul class="space-y-8">
          <li class="flex items-center">
            <a href="/employee/login"class="font-bold shadow-lg p-3 bg-green-400 rounded-md">
              Sign in to your account
            </a>
          </li>

          <li class="flex items-center">
            <a href="/employee/signup"
              class="font-bold shadow-lg p-3 bg-green-400 rounded-md place-content-center"
            >
              Create an account
            </a>
          </li>
        </ul>
      </div>

      <hr class="h-px my-9 bg-gray-200 border-3 dark:bg-gray-700" />
    </div>
  </div>
</div>